#clockContainer{
position: relative;
border: 2px solid black;
height:40vw;
width:40vw;
/* height:440px;
width:440px; */
background: url(clock.png) ;
background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 20px;
     transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 28%;
    left: 49.2%;
    top: 22.2%;
    
   
}
#minute{
  width: 1.5%;
    height: 30%;
    left: 49.3%;
    top: 20%;
    
}

#second{
    width: 1%;
    height: 34%;
    left: 49.6%;
    top: 16%;
    

}